h4 {
    margin:20px;
}

#table > div {
    margin-bottom: 10px;
}

.card-title > * {
    display: inline;
}

input[type="radio"]{
    display: none;
}

label {
    display: inline;
    text-align: right;
}

/* The following CSS controls the 5 star rating inputs */
/* The CSS and HTML was nspired by https://jsfiddle.net/swfour/fnU5V/4/ */
/* From https://jsfiddle.net/swfour/fnU5V/4/ */

input[type="radio"]+label{
    color:black;
    font-size: x-large;
}

input[type="radio"]:checked+label{
    color:gold;
    font-size: x-large;
}

/* Learned has CSS from https://tobiasahlin.com/blog/previous-sibling-css-has/ */
/* https://jsfiddle.net/z25FR/7/ */

label:has(~ input[type="radio"]:checked) {
    color: gold;
}

/* On hover */

#user-rating > input[type="radio"]+label:hover {
    color: gold;
}

#user-rating > input[type="radio"]+label:has(~ input[type="radio"]+label:not(:checked):hover) {
    color: gold;
}

/* Animations */
/* This is adapted from my previous CS50 Project 4 CSS */

@keyframes reveal {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#card-col {
    /* Place reveal animation */
    opacity: 0;
    animation-name: reveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}