{% extends "yorkeats/layout.html" %}

{% block body %}
    <h4>Currently Open</h4>
    <div class="d-flex flex-row mb-3 justify-content-center">
      <div class="p-2">Flex item 1</div>
      <div class="p-2">Flex item 2</div>
      <div class="p-2">Flex item 3</div>
    </div>
    <div class="row row-cols-3 justify-content-center">
        {% for Place in Places %}
        <div class="col" style="max-width: 500px; margin: 20px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{Place.name}}</h5>
              <p class="card-text">{{Place.location}}</p>
              <p class="card-text">{{Place.menu_offering}}</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <div class="accordion accordion-flush">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{Place.id}}">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="{{Place.id}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      {% for day, hours in Place.opening_days.items %}
                      {% if day == day_of_week %}
                      <span style="font-weight: bold; color: green;">{{day}} - {{hours}}</span>
                      {% else %}
                      {{day}} - {{hours}}
                      {% endif %}
                      <br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
          </div>
        </div>
        {% endfor %}
{% endblock %}