{% extends "YorkEats/layout.html" %}

{% load static %}
{% block body %}
<script src="{% static 'later.js' %}"></script>
    <link rel="stylesheet" href="{% static 'login_styles.css' %}">

    <h2>Pick a time</h2>

    <form class="w-50" action="{% url 'later' %}" method="post">
        <!-- Datetime form -->
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control {{invalid}}" name="datetime" required>
            <label for="floatingInput">Datetime</label>
            <div class="invalid-tooltip">
                Invalid datetime.
            </div>        
        </div>
        <input class="btn btn-danger" type="submit" value="Search">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}