{% extends "YorkEats/layout.html" %}

{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'login_styles.css' %}">

    <h2>Login</h2>

    <!-- Login form -->
    <!-- Adapted from previous CS50 webdev projects -->
    <form class="w-50" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control {{invalid}}" id="floatingInput" placeholder="name@example.com" name="username" required>
            <label for="floatingInput">Username</label>
            <div class="invalid-tooltip">
                Invalid username and/or password.
            </div>    
        </div>
        <div class="form-floating">
            <input type="password" class="form-control {{invalid}}" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="floatingPassword">Password</label>
            <div class="invalid-tooltip">
                Invalid username and/or password.
            </div>          
        </div>
        <input class="btn btn-danger" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}