{% extends "YorkEats/layout.html" %}


{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'login_styles.css' %}">

    <h2>Register</h2>

    <form class="w-50" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control {{user_invalid}}" id="floatingInput" placeholder="name@example.com" name="username" required>
            <label for="floatingInput">Username</label>
            <div class="invalid-tooltip">
                Username is already taken
            </div>    
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control {{email_invalid}}" id="floatingInput" placeholder="name@example.com" name="email" required>
            <label for="floatingInput">Email</label>
            <div class="invalid-tooltip">
                Email must be York affiliated
            </div>    
        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="password" class="form-control {{password_invalid}}" id="floatingPassword" placeholder="Password" name="password" required>
                    <label for="floatingPassword">Password</label>        
                    <div class="invalid-tooltip">
                        Passwords must match.
                    </div>    
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="password" class="form-control {{password_invalid}}" id="floatingPassword" placeholder="Password" name="confirmation" required>
                    <label for="floatingPassword">Confirm password</label>
                    <div class="invalid-tooltip">
                        Passwords must match.
                    </div>            
                </div>
            </div>
        </div>
        <input class="btn btn-danger" type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}